<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <myAppSettings>
        <add key="EnableTrace" value="true" />
        <add key="Timeout" value="30000" />
    </myAppSettings>
</configuration>